/*WOMEN PAGE*/

/*Style the background*/ 
body {
    background-color: aqua;
}

/* NAVIGATION BAR ALL */

/* Style the navigation bar container */
.navbar {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

/* Style the navigation bar links */
.navbar a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-family: 'lady-ice--small-caps-regular', sans-serif;
    padding: 14px 20px; /* Увеличиваем отступы вокруг текста */
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Анимация цвета фона и текста при наведении */
    font-size: 18px; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Жирный текст */
    border-radius: 5px; /* Скругленные углы */
    margin: 0 10px; /* Добавляем небольшие отступы между ссылками */
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #333; 
}